sqlalchemy[asyncio]
fastapi
uvicorn[standard]
alembic
pydantic
asyncpg
python-dotenv
pySigma-backend-sqlite
pySigma-backend-splunk
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pytest
ruff